<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <imports>
        <import resource="di/language.xml"/>
        <import resource="di/attribute.xml"/>
        <import resource="di/attribute_value.xml"/>
        <import resource="di/product.xml"/>
<!--        <import resource="di/product-with-other-attribute-handler.xml"/>-->
        <import resource="di/order.xml"/>
        <import resource="di/user.xml"/>

        <import resource="di/configuration.xml"/>
        <import resource="di/product-console.xml"/>
<!--        <import resource="di/product-subscriber.xml"/>-->
        <import resource="di/product-instant.xml"/>
        <import resource="di/product-task.xml"/>
        <import resource="di/order-console.xml"/>
<!--        <import resource="di/order-subscriber.xml"/>-->
        <import resource="di/user-console.xml"/>
<!--        <import resource="di/user-subscriber.xml"/>-->
    </imports>

    <services>

    </services>

</container>
