{#
wrapper for narrative block rendering
#}
<div class="cms-element-narrative-wrapper">
    {% block boxalino_narrative_content %}
        {% for bxblock in block.blocks %}
            {% set narrativeContent = {'block' : bxblock, 'groupBy' : groupBy, 'variantUuid': variantUuid } %}
            {% sw_include bxblock.template with narrativeContent %}
        {% endfor %}
    {% endblock %}
</div>

