{% block layout_search_suggest_results %}
    <div {% for bxAttribute in block.getBxAttributes() %} {{ bxAttribute.getName() }}="{{ bxAttribute.getValue() }}" {% endfor %}>
        {% for bxblock in block.blocks %}
            {% if bxblock.product %}
                {% block layout_search_suggest_result_product %}
                    {% set narrativeContent = {'block' : bxblock } %}
                    {% sw_include bxblock.template with narrativeContent %}
                {% endblock %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
