{% set suggestionText = block.bxAcQuery.suggestion %}
{% if block.bxAcQuery.highlighted is not null and block.bxAcQuery.highlighted is not empty %}
    {% set suggestionText = block.bxAcQuery.highlighted %}
{% endif %}

<li class="search-suggest-product js-result">
    <a href="{{ seoUrl('frontend.search.page', {'search': block.bxAcQuery.suggestion}) }}"
       title="{{ block.bxAcQuery.suggestion }}"
       class="search-suggestion-link">
        <p>{{ suggestionText|raw }}</p>
    </a>
    {% for bxblock in block.blocks %}
        {% set narrativeContent = {'block' : bxblock } %}
        {% sw_include bxblock.template with narrativeContent %}
    {% endfor %}
</li>
